<div class="container">
  <div class="row">
    <h2><strong>Welcome to My Todo Application</strong> <a href="https://goo.gl/pR8ito" target="_blank">LegalPlace</a> <br/></h2><br/>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Start form -->
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-check">
          <button routerLink="/todo" class="btn btn-primary" type="button">Login</button>
          <button type="submit" class="btn btn-primary" (click)="saveUser()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
